.button{
    margin-left: 16px;
    margin-right: 16px;
    font-size: 15px;
    text-align: center;
}

.background{
    background-color: blue;
}

.body{ 
    color: rgb(14, 13, 13); 
}

.header {
    background-color: rgb(235, 183, 125);
}

.tamaño {
    font-size: 40px;
}